<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Confirm Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="">Are you sure you want to delete this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmBtn">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        const button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        userId = button.getAttribute('data-bs-id');
        // Update the modal's content.
        const modalTitle = deleteModal.querySelector('.modal-title');
        modalTitle.textContent = 'Confirm Delete';

    });

    const confirmBtn = document.getElementById('confirmBtn');
    confirmBtn.addEventListener('click', function () {
        $('#deleteModal').modal('hide');
        const data = {
            id: userId
        };
        $.ajax({
            url: '/users/delete-user/',
            method: 'POST',
            data: data,
            success: function (res) {
                if (res.success === true) {
                    showToast('Delete User Status', res.message)

                    $('.toast').on('hidden.bs.toast', function () {
                        location.reload();
                    });

                }
                else {
                    showToast('Delete User Status', res.message)

                }
            }
        });
    });

</script>